<section class="section section-action">
  <div class="container container-action">
    <h3 class="title-buy">Придбати курс частинами</h3>
   <p class="sale buy">вартість модуля 1000 &#8372;</p>
    <div class="action-box">
      <ul class="action-list">
        <li class="action-items">
          <picture class="image-action">
            <source
              srcset="./img/action/certificat-desk@1x.jpg  1x, ./img/action/certificat-desk@2x.jpg 2x" media="(min-width: 1158px)"/>
            <source
              srcset="./img/action/certificat-tab@1x.jpg 1x,  ./img/action/certificat-tab@2x.jpg 2x" media="(min-width: 768px)"/>                  
            <source
              srcset="./img/action/certificat@1x.jpg 1x, ./img/action/certificat@2x.jpg 2x" media="(max-width: 767px)"/>
            <img
              src="./img/action/certificat@1x.jpg" alt="сертификат"/>
          </picture>
          <p class="text-action">
            По закінченню курсу видається сертифікат
          </p>              
        </li>
        <li class="action-items">
          <picture class="image-action">
            <source
              srcset="./img/action/book-desk@1x.jpg 1x, ./img/action/book-desk@1x.jpg 2x" media="(min-width: 1440px)"/>
            <source
              srcset="./img/action/book-tab@1x.jpg 1x, ./img/action/book-tab@2x.jpg 2x" media="(min-width: 768px)"/>                  
            <source
              srcset="./img/action/book-mob@1x.jpg 1x, ./img/action/book-mob@2x.jpg 2x" media="(max-width: 767px)"/>
            <img
              src="../img/action/" alt="щоденник"/>
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
