<header> 
  <a  href="./index.html" class="logo">фея<span class="logo-link">птахівництва</span></a>  
  <input  type="checkbox" name="menu" id="menu">
  <label  for="menu" class="menu">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <nav class="nav-menu">
    <ul class="menu-list">
      <li class="menu-items">
        <a class="menu-link" href="./index.html">
          Головна
        </a>
      </li>
      <li class="menu-items">
        <a class="menu-link" href="#mod">
          Онлайн-школа 
        </a>
      </li> 
      <li class="menu-items">
        <a class="menu-link" href="#courses">
          Курси
        </a>
      </li>
      </li>      
      <li class="menu-items">
        <a class="menu-link" href="#about">
          Про мене
        </a>
      </li>
      <li class="menu-items">
        <a class="menu-link" href="#reviews">
          Відгуки
        </a>
      </li>
      <li class="menu-items">
        <a class="menu-link" href="#">
          Контакти &bigtriangledown;
        </a>
        <ul class="menu-list-down">
          <li class="menu-items-down">
            <a class="menu-link-down" href="tel:+380639489739">+380 639 48 97 39</a>
          </li>
          <li class="menu-items-down">
            <a class="menu-link-down" href="mailto:cherkashinatanya73@gmail.com">cherkashina <br> tanya73@gmail.com</a>
          </li>
          <li class="menu-items-down">
            <a class="menu-link-down" href="https://t.me/feyaptahivnitstva" rel="noreferrer noopener" target="_blank">
              <svg class="icons" width="24" height="24">
                <use href="./src/img/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>     
    </ul>
  </nav> 
</header>
