<section class="hero-section" id="hero">
  <div class="container">
    <div class="swiper-hero">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero">
          <div class="hero-wrapper">
            <div class="hero-info">
              <ul class="program-list">
                <li class="program-list-item">
                  <a class="menu-link-down" href="https://www.instagram.com/tanya.cherkashina/" rel="noreferrer noopener" target="_blank">
                    instagram
                  </a>
                </li>
                <li class="program-list-item">
                  <a class="menu-link-down" href="https://www.threads.net/@tanya.cherkashina?xmt=AQGzrkemy7LXN5i8l0WXAl0grJ8Q46Y0-JHK_BN2Dt4NLX0" rel="noreferrer noopener" target="_blank">
                    threads
                  </a>
                </li>
                <li class="program-list-item">
                  <a class="menu-link-down" href="https://www.facebook.com/profile.php?id=100091826297423" rel="noreferrer noopener" target="_blank">
                    facebook
                  </a>
                </li>
                <li class="program-list-item">
                  <a class="menu-link-down" href="https://youtube.com/@ptashkatanya?si=t5nPDf40lLkfkqG-" rel="noreferrer noopener" target="_blank">
                  youtube
                </a>
                </li>
              </ul>
              <h2 class="hero-title">
                Вирощування cвійської птиці&#58; <span class="title-min"> ціль&#44;  <br> наполегливість&#44;  результат</span> 
              </h2>
              <a
                href="https://secure.wayforpay.com/button/b3023d7a9bbba" rel="noreferrer noopener" target="_blank"
                class="see-hero-btn"
                >Купляю курс</a> 
            </div>             
            <div class="hero-image">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/hero/main@1x.jpg 1x,
                    ./img/hero/main@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/hero/main@1x.jpg 1x,
                    ./img/hero/main@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/hero/main@1x.jpg 1x,
                    ./img/hero/main@2x.jpg  2x
                  "
                />
                <img
                  src="./img/hero/main@1x.jpg"
                  alt="Тетяна Черкашина"
                  width="704"
                  height="532"
                />
              </picture>
              <!-- <img srcset="./img/hero/main@1x.jpg 1x, ./img/hero/main@2x.jpg 2x"
              src="./img/hero/main@1x.jpg"
              alt="Тетяна Черкашина"
              width=""
              height="" />  -->
            </div>
          </div>
        </div>           
        <div class="swiper-slide hero">
          <div class="hero-wrapper">
            <div class="hero-info">
              <ul class="program-list">
                <li class="program-list-item">
                  <a class="menu-link-down" href="https://www.instagram.com/tanya.cherkashina/" rel="noreferrer noopener" target="_blank">
                    instagram
                  </a>
                </li>
                <li class="program-list-item">
                  <a class="menu-link-down" href="https://www.threads.net/@tanya.cherkashina?xmt=AQGzrkemy7LXN5i8l0WXAl0grJ8Q46Y0-JHK_BN2Dt4NLX0" rel="noreferrer noopener" target="_blank">
                    threads
                  </a>
                </li>
                <li class="program-list-item">
                  <a class="menu-link-down" href="https://www.facebook.com/profile.php?id=100091826297423" rel="noreferrer noopener" target="_blank">
                    facebook
                  </a>
                </li>
                <li class="program-list-item">
                  <a class="menu-link-down" href="https://youtube.com/@ptashkatanya?si=t5nPDf40lLkfkqG-" rel="noreferrer noopener" target="_blank">
                  youtube
                </a>
                </li>
              </ul>
              <h2 class="hero-title">
                Вирощування cвійської птиці&#58;<span class="title-min">
                   мрія&#44;<br> обізнаність&#44; досягнення </span> 
              </h2>
              <a
                href="https://secure.wayforpay.com/button/b3023d7a9bbba" rel="noreferrer noopener" target="_blank"
                class="see-hero-btn"
                >Купляю курс
              </a>
             
            </div>
            <div class="hero-image">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/hero/main-2@1x.jpg 1x,
                    ./img/hero/main-2@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/hero/main-2@1x.jpg 1x,
                    ./img/hero/main-2@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/hero/main-2@1x.jpg 1x,
                    ./img/hero/main-2@2x.jpg  2x
                  "
                />
                <img
                  src="./img/hero/main-2@1x.jpg"
                  alt="корзина"
                  width="704"
                  height="532"
                />
              </picture>
              <!-- <img srcset="./img/hero/main-2@1x.jpg 1x, ./img/hero/main-2@2x.jpg 2x"
              src="./img/hero/main-2@1x.jpg"
              alt="Тетяна Черкашина"
              width=""
              height="" /> -->
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>
