<section class="reviews-section" id="reviews">
  <div class="container reviews-container">
    <h2 class="title-reviews"> Відгуки </h2>
    <div class="reviews-block slider-wrapper">
      <ul class="reviews-list swiper-wrapper">
        <li class="reviews-item swiper-slide">
          <img class="avatar-image" 
            src="./img/reviews/reviewsdesk-one@1x.jpg" 
            alt="фото дівчини" 
            width="150" 
          />
          <h3 class="reviews-subtitle">Anzhelika Verkhova</h3>
          <p class="reviews-text">Після навчання у Вас, Тетяна, я, нарешті, вважаю себе профі в
            птахівництві. Моя птиця в надійних руках, бо потрапити до ветеринара
            в Європі- шансів 1/100000. В Литві- так точно. Дякую!</p>
            <div class="user-link">
              <a class="items-link" href="https://www.tiktok.com/@lucky_duck.lt?_t=8pEI5floCtU&_r=1" rel="noreferrer noopener" target="_blank">
                <svg class="icons" width="24" height="24">
                  <use href="./img/icons.svg#icon-tik-tok"></use>
                </svg>
              </a>
            </div>
        </li>
        <li class="reviews-item swiper-slide">
          <img class="avatar-image" 
            src="./img/reviews/reviewsdesk-two@1x.jpg" 
            alt="фото дівчини" 
            width="150" 
          />
          <h3 class="reviews-subtitle">Сімейна ферма ОНІШКО</h3>
          <p class="reviews-text"> Наша сімейна ферма в цьому році замовила 200 голів молодняка
            несушки. Інші роки я б переживала за здоров‘я курочок. Але не зараз -
            бо у нас є Ваша, Таня, підтримка.
           </p>
            <div class="user-link">
              <a class="items-link" href="https://www.instagram.com/elenaonishko/?igsh=c2JmMWZodnZsM2Fm" rel="noreferrer noopener" target="_blank">
                <svg class="icons" width="24" height="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </div>
        </li>
        <li class="reviews-item swiper-slide">
          <img class="avatar-image" 
            src="./img/reviews/reviewsdesk-three@1x.jpg" 
            alt="фото дівчини" 
            width="150" 
          />
          <h3 class="reviews-subtitle">Гарна Курка</h3>
          <p class="reviews-text">Завдяки знанням, які отримала у «Школі птахівництва», 
            зрозуміла, як правильно вакцінувати птицю від епідеміологічних 
            хвороб, годую збалансовано, не маю ніяких проблем.
            Дякую щиро!
           </p>
            <div class="user-link">
              <a class="items-link" href="https://www.facebook.com/profile.php?id=100092422668837" rel="noreferrer noopener" target="_blank">
                <svg class="icons" width="24" height="24">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </div>
        </li>
        <li class="reviews-item swiper-slide">
          <img class="avatar-image" 
            src="./img/reviews/reviewsdesk-fourth@1x.jpg" 
            alt="фото дівчини" 
            width="150" 
          />
          <h3 class="reviews-subtitle">Тімина Ферма</h3>
          <p class="reviews-text">Таню, ми давно хотіли відкрити свою справу, але не вистачало знань і впевненості в собі. 
            Але завдяки Вашій «Школі птахівництва» ця мрія стала реальністю .
            Дякуємо Вам за підтримку. Ви наше натхнення ❤️❤️❤️
           </p>
            <div class="user-link">
              <a class="items-link" href="https://www.instagram.com/timyna.ferma?igsh=NTc4MTIwNjQ2YQ==" rel="noreferrer noopener" target="_blank">
                <svg class="icons" width="24" height="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </div>
        </li>
        <li class="reviews-item swiper-slide">
          <img class="avatar-image" 
            src="./img/reviews/rev-5@1x.jpg" 
            alt="фото дівчини" 
            width="150" 
          />
          <h3 class="reviews-subtitle">ylianaiachevskaia</h3>
          <p class="reviews-text">
            Таня, я хочу Вам сказати величезне спасибі за цінну інформацію.
             Я тепер впевнена у своїх силах і можливостях. Бройлер, перепілка, 
             індик, несушка - все тепер для мене доступно і не тільки виростити, 
             а й вилупити! 
            І зробити це правильно, виростити здорову птицю! Школа це знахідка ❤️
           </p>
            <div class="user-link">
              <a class="items-link" href="https://www.tiktok.com/@ylianaiachevskaia?_t=ZM-8tbW9uQyrwb&_r=1" rel="noreferrer noopener" target="_blank">
                <svg class="icons" width="24" height="24">
                  <use href="./img/icons.svg#icon-tik-tok"></use>
                </svg>
              </a>
            </div>
        </li>
        <li class="reviews-item swiper-slide">
          <img class="avatar-image" 
            src="./img/reviews/rev-7@1x.jpg" 
            alt="фото дівчини" 
            width="150" 
          />
          <h3 class="reviews-subtitle">Вікторія Галушка</h3>
          <p class="reviews-text">
            Школа птахівництва – це справжній скарб для всіх,
             хто прагне професійно та відповідально займатися 
             вирощуванням птиці. Засновник школи – досвідчений фахівець 
             Тетяна Черкашина,  ділиться теоретичними знаннями,
              надає практичні поради, що допомагають птахівникам уникати
               поширених помилок. Рекомендую цю школу всім!
           </p>
            <div class="user-link">
              <a class="items-link" href="https://www.tiktok.com/@viktoria_galushka?_t=ZM-8tblVAuXs73&_r=1" rel="noreferrer noopener" target="_blank">
                <svg class="icons" width="24" height="24">
                  <use href="./img/icons.svg#icon-tik-tok"></use>
                </svg>
              </a>
            </div>
        </li>
        <li class="reviews-item swiper-slide">
          <img class="avatar-image" 
            src="./img/reviews/rev-6@1x.jpg" 
            alt="фото дівчини" 
            width="150" 
          />
          <h3 class="reviews-subtitle">Вікторія Абабкова</h3>
          <p class="reviews-text">
            З Танею, і її курсом "несушка", ви будете мати хороший 
            результат який коштує кожної гривні, яку ви заплатите. 
            Таня для мене гуру і сенсей птахівництва, і, найголовніше, гарний друг!
             Зараз ми не тільки для себе їмо смачненьке яєчко, а ще й з залишків продаємо.
            </p>
            <div class="user-link">
              <a class="items-link" href="https://www.instagram.com/viktoriya_ababkova?igsh=emxqNmdiN3k2ZGt2" rel="noreferrer noopener" target="_blank">
                <svg class="icons" width="24" height="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </div>
        </li>
      </ul>
    </div>
    <div class="swiper-button">
      <button type="button" class="button-prev">
        <svg class="arrow-prev" width="32" height="32">
          <use href="./img/mod/icons.svg#arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="button-next">
        <svg class="arrow-next" width="32" height="32">
          <use href="./img/mod/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
